:root  {
    /*
     * For colors, sizes etc... reference to:
     * http://design.firefox.com/photon
     */
  --spacing: 16px;
  --small-spacing: calc(var(--spacing) / 2);
  /* light gray background */
  --grey-10: #f9f9fa;
  /* dark background */
  --grey-60: #4a4a4f;
  /* overlay */
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  /* shadow */
  --grey-90-a10: rgba(12, 12, 13, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--grey-10);
}

/*
 * Page header
 */
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: var(--spacing);
}

.page-header {
  display: grid;
  grid-template: "logo title"
                 "logo subtitle";
  grid-template-columns: min-content max-content;
  justify-content: center;
}

.logo {
  grid-area: logo;
  width: 96px;
  height: 96px;
  margin-right: var(--spacing);
}

/*
 * Typography
 */
* {
  /* Photon: Body 20 */
  font-size: 15px;
}

h1 {
  grid-area: title;
  /* Photon: Display 20 */
  font-size: 36px;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.addon-description {
  grid-area: subtitle;
  font-size: 13px;
}

h2 {
  /* Photon: Title 20 */
  font-size: 17px;
  font-weight: medium;
}

.help-box {
  margin: 16px 0;
  border: 1px dashed #737373;
  color: #737373;
  font-size: 13px;
  font-weight: regular;
  padding: 16px;
}

/*
 * Form
 */

form {
  display: flex;
  flex-direction: column;
}

ul {
    /* Remove the extra left margin for list.
     * The dots must be aligned on with the rest of the form, 16px looks good.
     */
    padding: 0 0 0 16px;
    margin: var(--spacing) 0;
}

.table-header {
  font-weight: bold;
}

.cookie-table,
.urls-wrapper,
.cookies-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing);
}

.cookie-table > .table-header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  background-color: var(--grey-10);
}

.cookie-table .url-row {
  display: grid;
  grid-template-columns: 10fr 0fr;
  grid-template-areas: "url        action"
                       "url-header url-header"
                       "cookies    cookies"
                       "url-footer url-footer";
  grid-gap: var(--spacing);
  background-color: var(--grey-10);
  padding: var(--spacing);
  border-radius: var(--small-spacing);
}

.url-row > .table-header,
.cookie-row {
  display: grid;
  grid-template-columns: 5fr 5fr 0fr;
  grid-gap: var(--spacing);
}

.url-row .table-header {
  grid-area: url-header;
}

.url-row .label-url {
  grid-area: url;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
}

.url-row .cookies-wrapper {
  grid-area: cookies;
}

.url-row .remove {
  grid-area: actions;
}

.url-row .table-footer {
  grid-area: url-footer;
}

/*
 * Button bar
 */
.button-bar {
 display: flex;
 flex-direction: row;
 margin-top: var(--spacing);
 margin-left: -12px;
 margin-right: -12px;
}

.button-bar button {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}

.button-bar .button-save {
  /* margin-left: auto will push the save button to the right */
  margin-left: auto;
}

/*
 * Modal dialog
 */
.dialog-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--grey-90-a60);
  display: none;
}

.dialog-window {
  filter: drop-shadow(0 2px 8px var(--grey-90-a10) );
}

.dialog-background h2 {
  background-color: var(--grey-60);
  color: white;
  margin: 0;
  padding: var(--spacing);
  border-radius: var(--small-spacing) var(--small-spacing) 0 0;
}

.dialog-body {
  padding: var(--spacing);
}

.dialog-reset-window {
  background-color: white;
  border-radius: var(--small-spacing);
}

.dialog-reset-window .button-bar {
  justify-content: end;
}

.visible {
  display: flex;
}

/*
 * Buttons
 */
.button {
  display: flex;
  flex-direction: row;
  border-style: none;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  min-width: 132px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.button > img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  align-self: center;
}

.button.icon-only {
  width: 32px;
  margin-right: 0;
}

input,
input+label,
button {
  cursor: pointer;
}

button:disabled,
input:disabled,
input:disabled+label {
  opacity: 0.4;
  cursor: unset;
}

/* PRIMARY BUTTON */
.button.primary {
    color: white;
    background-color: #0060df;
}

.button.primary:not([disabled]):hover {
    background-color: #003eaa;
}

.button.primary:not([disabled]):active {
    background-color: #002275;
}

.button.primary:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
}

/* SECONDARY BUTTON */
.button.secondary {
    color: #0c0c0d;
    background-color: rgba(12, 12, 13, 0.1);
}

.button.secondary:not([disabled]):hover {
    background-color: rgba(12, 12, 13, 0.2);
}

.button.secondary:not([disabled]):active {
    background-color: rgba(12, 12, 13, 0.3);
}

.button.secondary:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255,    0.3)
}

